@font-face {
  font-family: plusJakartaSans;
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

/* @font-face {
    font-family: plusJakartaSans;
    src: url("./assets/fonts/static/PlusJakartaSans-Bold.ttf");
    font-weight: bold;
} */

* {
  font-family: plusJakartaSans;
  font-weight: 300;
}

.bold-font {
  font-family: plusJakartaSans;
  font-weight: bold;
}

.top-section__container {
  width: 92%;
  margin: auto;
}

.main-header {
  margin: 2px;
}

.clear-button {
  color: gray;
}

.mortage-amount__container {
  margin: 1rem 0;
}

.mortage-amount-input__container {
  display: flex;
  border: 1px solid gray;
  margin: 0.5rem 0;
  width: 100%;
  height: 2rem;
}

.pound-symbol {
  border: 0;
  width: 10%;
  background-color: hsl(202, 86%, 94%);
  text-align: center;
}

input {
  border: 0;
  width: 100%;
}
